.layout-container {
  width: 100vw;
  height: 100vh;
  .content-container {
    min-height: 100vh;
  }
  .page-view-container {
    padding: 24px;
    background: #fff;
    min-height: 78vh;
  }
  .app-header {
    background:#fff;
    padding:0;
  }
  .content-box{
    margin: 0 16px;
  }
  .breadcrumb{
    margin: 16px 0;
  }
  .logo{
    width: 100%;
    height:70px;
    color:#fff;
  }
}
